<button mat-raised-button color="primary" (click)="openAddLeadDialog()">Add Lead         <mat-icon>add</mat-icon>
</button>

<mat-list>
  <mat-list-item *ngFor="let lead of leads$ | async">

    <h3 mat-line>{{ lead.contactName }}</h3>
    <p mat-line>Phone: {{ lead.phoneNumber }}</p>
    <p mat-line>Best Time to Contact: {{ lead.bestTimeToContact }}</p>
    <p mat-line>Reason for Call: {{ lead.reasonForCall }}</p>
    <p mat-line>Notes: {{ lead.notes }}</p>
    <button mat-raised-button color="warn" (click)="deleteLead(lead)">Delete Lead <mat-icon>delete</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="openEditLeadDialog(lead)"> Edit <mat-icon>edit</mat-icon>
    </button>
  </mat-list-item>
</mat-list>