mat-list{
    display: flex;
}
:host mat-list-item{
    height: auto ;
    border-radius: 5px;
    background: #f2f2f2;
    margin: 5px ;
    flex-basis: 30%;
    padding: 10px;
    button{
        margin: 5px;
    }
}

